.card-div {
  color: #aaa;
  display: inline-block;
  max-width: 350px;
  background-color: #111;
  border-radius: 15px;
  padding: 5px 10px;
  /* border: solid 3px #ff5f1f; */
}

.card-div:hover {
  background-color: #000;
  cursor: pointer;
  color: #fff;
  box-shadow: 0px 0px 7px 0px #ff5f1f;
}

.repo-name {
  color: #ff5f1f;
}

.repo-desc {
  font-size: 14px;
  height: 100px;
  overflow: hidden;
}

.repo-labels {
  margin: 2px;
  font-size: 11px;
  /* color: #ff5f1f; */
  color: #eee;
  font-weight: 500;
  padding: 1px 3px;
  background-color: #333;
  border-radius: 7px;
  border: solid 1px #ff5f1f;
}

.repo-label-div {
  height: 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
}